body{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button{
    padding: 10px;
    border-radius: 20px;
    border: none;
}